<mat-card-footer>
    <div class="footer-content">      
        <div class="icons">
            <a href="https://github.com/KasperDahl" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/kasper-dahl-andersen" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
            </a>            
        </div>
        <p>© 2024 Kasper Dahl Andersen</p>
    </div>
  </mat-card-footer>
