<div class="about-container">
    <h1>Om mig</h1>
    <p>
        Jeg hedder Kasper Dahl Andersen og brænder for at skabe softwareløsninger, der gør en forskel. 
        Jeg har en kandidatgrad i Software Design fra IT-Universitetet og har arbejdet som softwareudvikler siden 2022.
    </p>
    <h2>Kontaktoplysninger</h2>
    <p>Du er velkommen til at tage et smut forbi min GitHub eller kontakte mig på LinkedIn eller mail:</p>
    <ul>
        <li><a href="https://github.com/KasperDahl" target="_blank">GitHub</a></li>
        <li>
            <a href="https://www.linkedin.com/in/kasper-dahl-andersen" target="_blank"
            >LinkedIn</a
            >
        </li>
        <li>
            Email:
            <a href="mailto:kasperdahldk@google.com">kasperdahldk&#64;google.com</a>
        </li>
    </ul>
</div>

